<template>
    <div>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. In vero rem ut commodi qui perspiciatis, molestias quos dolor unde sit ipsam minus eligendi totam nihil harum! Sed velit facilis adipisci!
    </div>
</template>

<script>
export default {};
</script>

<style>
</style>