<template>
    <div class="bg-gray-900 flex flex-col lg:flex-row items-center" x-data="{ open: false }">
        <div class="flex justify-between w-full lg:w-auto px-6 py-6 lg:py-0">
            <router-link active-class="text-white" to="/" class="text-lg font-semibold text-white">Parsinta</router-link>
            <button @click="open = !open" class="text-white focus:outline-none block lg:hidden">
                <svg class="w-6 h-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                    <path :class="{ 'hidden': open === false }" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
                    <path :class="{ 'hidden': open === true }" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16m-7 6h7" />
                </svg>
            </button>
        </div>

        <div :class="{ 'hidden' : open === false }" class="w-full lg:flex flex-col lg:flex-row lg:items-center justify-between text-sm lg:text-base border-t lg:border-t-0 border-gray-800 lg:pr-6">
            <div class="flex flex-col lg:flex-row lg:items-center py-4 font-medium">
                <router-link exact to="/" class="block py-2 px-6 lg:px-4 text-gray-300 hover:text-white">Home</router-link>
                <router-link to="/about" class="block py-2 px-6 lg:px-4 text-gray-300 hover:text-white">About</router-link>

                <div class="py-2 px-6 lg:px-4 group cursor-pointer relative">
                    <div class="text-gray-300 group-hover:text-white font-medium flex items-center">
                        Category
                        <svg class="h-5 w-5 ml-2 transition-transform duration-200 transform group-hover:rotate-180" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7" />
                        </svg>
                    </div>
                    <div class="group-hover:block hidden py-10 absolute top-0 left-0">
                        <div class="bg-white px-6 py-4 rounded-lg shadow w-56 text-sm leading-loose font-medium animate-dropdown-transition">
                            <a href="#" class="block py-1 text-gray-800 hover:text-indigo-500">Fashion</a>
                            <a href="#" class="block py-1 text-gray-800 hover:text-indigo-500">Travel</a>
                            <a href="#" class="block py-1 text-gray-800 hover:text-indigo-500">Gaming</a>
                            <a href="#" class="block py-1 text-gray-800 hover:text-indigo-500">Camera</a>
                            <a href="#" class="block py-1 text-gray-800 hover:text-indigo-500">Screencasts</a>
                            <a href="#" class="block py-1 text-gray-800 hover:text-indigo-500">Tikets</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="flex items-center lg:justify-center py-4 border-t lg:border-t-0 border-gray-800">
                <a href="#" class="bg-gradient-to-r from-blue-500 to-teal-500 hover:from-teal-500 hover:to-blue-500 rounded mr-3 inline-flex items-center py-2 px-6 lg:px-4 text-white font-medium">
                    <svg class="w-5 h-5 mr-2" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M11 16l-4-4m0 0l4-4m-4 4h14m-5 4v1a3 3 0 01-3 3H6a3 3 0 01-3-3V7a3 3 0 013-3h7a3 3 0 013 3v1" />
                    </svg>
                    Login
                </a>
                <a href="#" class="bg-gradient-to-r from-blue-500 to-teal-500 hover:from-teal-500 hover:to-blue-500 rounded inline-flex items-center py-2 px-6 lg:px-4 text-white font-medium">
                    <svg class="w-5 h-5 mr-2" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M16 7a4 4 0 11-8 0 4 4 0 018 0zM12 14a7 7 0 00-7 7h14a7 7 0 00-7-7z" />
                      </svg>
                    Register
                </a>
                <!-- <div class="group w-full flex flex-col lg:flex-row lg:items-center cursor-pointer relative px-6">
                    <div class="flex items-center mb-2 lg:mb-0">
                        <div class="mr-2 flex-shrink-0">
                            <img class="w-8 h-8 rounded-full border border-gray-700" src="https://www.gravatar.com/avatar/bbf0290565a140d91597b8fb5342a4f5?d=identicon&s=250" alt="">
                        </div>
                        <div class="text-white font-medium">
                            Irsyad A. Panjaitan
                        </div>
                    </div>
                    <div class="group-hover:block lg:hidden lg:py-10 lg:absolute lg:top-0 lg:right-0">
                        <div class="lg:bg-white border border-gray-800 lg:border-0 px-4 py-2 lg:px-6 lg:py-4 rounded-lg lg:shadow w-full lg:w-56 text-sm lg:leading-loose font-medium animate-dropdown-transition">
                            <a href="#" class="block py-1 text-gray-300 lg:text-gray-800 hover:text-indigo-500">Lorem ipsum.</a>
                            <a href="#" class="block py-1 text-gray-300 lg:text-gray-800 hover:text-indigo-500">Sed impedit!</a>
                            <a href="#" class="block py-1 text-gray-300 lg:text-gray-800 hover:text-indigo-500">Minus soluta?</a>
                            <a href="#" class="block py-1 text-gray-300 lg:text-gray-800 hover:text-indigo-500">Eligendi quasi?</a>
                            <a href="#" class="block py-1 text-gray-300 lg:text-gray-800 hover:text-indigo-500">Amet neque.</a>
                            <a href="#" class="block py-1 text-gray-300 lg:text-gray-800 hover:text-indigo-500">Officia eligendi?</a>
                        </div>
                    </div>
                </div> -->
            </div>
        </div>
    </div>
</template>

<script>
export default {
    data() {
        return {
            open: false
        }
    }
}
</script>