<template>
    <div>
        <div class="bg-gray-800 flex justify-between p-4 border-b border-gray-700">
            <div class="text-lg text-white font-medium">
                Parsinta
            </div>
            <button @click="isMobile = !isMobile" class="block lg:hidden focus:outline-none text-white">
                <svg class="w-6 h-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                    <path :class="isMobile ? 'hidden' : 'block'" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16m-7 6h7" />
                    <path :class="isMobile ? 'block' : 'hidden'" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
                </svg>
            </button>
        </div>
        <div :class="isMobile ? 'block' : 'hidden'" class="overflow-y-scroll leading-loose lg:block bg-gray-800 h-full fixed w-full lg:w-1/5 p-4">
            <router-link to="/dashboard" class="px-4 py-2 rounded block text-white hover:bg-gray-700 my-1 flex items-center">
                <svg class="w-5 h-5 mr-3" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M11 3.055A9.001 9.001 0 1020.945 13H11V3.055z" />
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M20.488 9H15V3.512A9.025 9.025 0 0120.488 9z" />
                </svg>
                Dashboard
            </router-link>
            <router-link to="/about" class="px-4 py-2 rounded block text-white hover:bg-gray-700 my-1 flex items-center">
                <svg class="w-5 h-5 mr-3" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 4v5h.582m15.356 2A8.001 8.001 0 004.582 9m0 0H9m11 11v-5h-.581m0 0a8.003 8.003 0 01-15.357-2m15.357 2H15" />
                </svg>
                About
            </router-link>
            <a href="#" class="px-4 py-2 rounded block text-white hover:bg-gray-700 my-1 flex items-center">
                <svg class="w-5 h-5 mr-3" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M8 13v-1m4 1v-3m4 3V8M8 21l4-4 4 4M3 4h18M4 4h16v12a1 1 0 01-1 1H5a1 1 0 01-1-1V4z" />
                </svg>
                Overview
            </a>
            <a href="#" class="px-4 py-2 rounded block text-white hover:bg-gray-700 my-1 flex items-center">
                <svg class="w-5 h-5 mr-3" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M16 12a4 4 0 10-8 0 4 4 0 008 0zm0 0v1.5a2.5 2.5 0 005 0V12a9 9 0 10-9 9m4.5-1.206a8.959 8.959 0 01-4.5 1.207" />
                </svg>
                Mention
            </a>
            <div>
                <button @click="dropdown" class="w-full focus:outline-none px-4 py-2 rounded block text-white hover:bg-gray-700 my-1 flex items-center justify-between">
                    <div class="flex items-center">
                        <svg class="w-5 h-5 mr-3" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 10h18M3 14h18m-9-4v8m-7 0h14a2 2 0 002-2V8a2 2 0 00-2-2H5a2 2 0 00-2 2v8a2 2 0 002 2z" />
                        </svg>
                        Table
                    </div>
                    <svg class="w-5 h-5 transition-transform duration-200 transform pointer-events-none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
                        <path fill-rule="evenodd" d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z" clip-rule="evenodd" />
                    </svg>
                </button>
                <div class="ml-8 hidden overflow-hidden animate-accordion">
                    <a href="#" class="px-4 py-2 rounded block text-white hover:bg-gray-700 my-1 flex items-center">
                        Post Table
                    </a>
                    <a href="#" class="px-4 py-2 rounded block text-white hover:bg-gray-700 my-1 flex items-center">
                        Users Table
                    </a>
                    <a href="#" class="px-4 py-2 rounded block text-white hover:bg-gray-700 my-1 flex items-center">
                        Member Table
                    </a>
                </div>
            </div>
            <a href="#" class="px-4 py-2 rounded block text-white hover:bg-gray-700 my-1 flex items-center">
                <svg class="w-5 h-5 mr-3" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 8v4m0 4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z" />
                </svg>
                Component
            </a>
            <a href="#" class="px-4 py-2 rounded block text-white hover:bg-gray-700 my-1 flex items-center">
                <svg class="w-5 h-5 mr-3" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10.325 4.317c.426-1.756 2.924-1.756 3.35 0a1.724 1.724 0 002.573 1.066c1.543-.94 3.31.826 2.37 2.37a1.724 1.724 0 001.065 2.572c1.756.426 1.756 2.924 0 3.35a1.724 1.724 0 00-1.066 2.573c.94 1.543-.826 3.31-2.37 2.37a1.724 1.724 0 00-2.572 1.065c-.426 1.756-2.924 1.756-3.35 0a1.724 1.724 0 00-2.573-1.066c-1.543.94-3.31-.826-2.37-2.37a1.724 1.724 0 00-1.065-2.572c-1.756-.426-1.756-2.924 0-3.35a1.724 1.724 0 001.066-2.573c-.94-1.543.826-3.31 2.37-2.37.996.608 2.296.07 2.572-1.065z" />
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 12a3 3 0 11-6 0 3 3 0 016 0z" />
                </svg>
                Settings
            </a>
            <a href="#" class="px-4 py-2 rounded block text-white hover:bg-gray-700 my-1 flex items-center">
                <svg class="w-5 h-5 mr-3" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M17 16l4-4m0 0l-4-4m4 4H7m6 4v1a3 3 0 01-3 3H6a3 3 0 01-3-3V7a3 3 0 013-3h4a3 3 0 013 3v1" />
                </svg>
                Logout
            </a>
        </div>
    </div>
</template>

<script>
export default {
    data() {
        return {
            isMobile: false,
        }
    },
    methods: {
        dropdown(e) {
            let element = e.target;
            let svg = element.getElementsByTagName('svg')[1]
            svg.classList.add('rotate-90')

            let nextSibling = element.nextSibling
            let containsHidden = nextSibling.classList.contains('hidden')

            if (!containsHidden) {
                nextSibling.classList.add('hidden')
                svg.classList.remove('rotate-90')
            } else {
                nextSibling.classList.remove('hidden')
            }
        }
    }
};
</script>