<template>
    <div id="app">
        <div class="flex flex-col lg:flex-row">
            <div class="w-full lg:w-1/5">
                <Sidebar/>
            </div>
            <div class="p-4 w-full lg:w-4/5">
                <router-view />
            </div>
        </div>
    </div>
</template>

<script>
import Sidebar from '@/components/Sidebar'
export default {
    components: {
        Sidebar
    }
}
</script>